.container {
    text-align: center;
    position: relative;
    top: 140px;
}

.inputContainer {
    position: relative;
    left: 444px;
    width: 502px;
    margin-top: 40px;
}

#inputField {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px;
    color: black;
    font-weight: 450;
    outline: none;
    caret-color: var(--softblue);
    transition-duration: .3s;
    font-family: var(--myfont);
    font-size: 15px;
    width: 100%;
}

#inputField::placeholder {
    color: black;
}

#inputField:focus {
    background-color: lightgray;
    transition-duration: .4s;
}

#inputField:valid {
    background-color: #ddd;
    transition-duration: .4s;
}