h3 {
    color: black;
    font-family: var(--myfont);
    font-size: 40px;
    text-align: center;
}

.container {
    text-align: center;
    position: relative;
    margin-top: 250px;
    margin-bottom: 300px;
    height: 300px;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 500px;
}

.search-bar-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

#search-bar {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 15px 40px;
    color: black;
    font-weight: 450;
    outline: none;
    caret-color: var(--softblue);
    transition-duration: .3s;
    font-family: var(--myfont);
    font-size: 15px;
    width: 100%;
}

#search-bar::placeholder {
    color: black;
    position: relative;
    left: 0;
}

#search-bar:focus {
    background-color: lightgray;
    transition-duration: .4s;
}

#search-bar:valid {
    background-color: #ddd;
    transition-duration: .4s;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
    fill: black;
}

.instructions-container {
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: 800px;
    position: relative;
    margin-bottom: 100px;
}

.instructions-content {
    text-align: left;
    margin-top: 80px;
    margin-left: 400px;
    margin-right: 400px;
}

ol li {
    font-family: var(--myfont);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

.shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: linear-gradient(to bottom, #00c6ff, var(--softblue));
}

.shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(188% + 1.3px);
    height: 218px;
}

.shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

.scroll-to-top-link {
    text-decoration: underline;
    cursor: pointer;
}