:root {
  --softblue: rgb(20, 125, 250);
  --myfont: --font-family,RoobertVF,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background: var(--softblue);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: var(--myfont);
  font-size: 70px;
}

h2 {
  color: white;
  font-family: var(--myfont);
  font-size: 40px;
}

p {
  color: white;
  font-family: var(--myfont);
  font-size: 18px;
}

.full-container {
  height: 100vh;
}

.left-container {
  text-align: left;
  position: relative;
  margin-top: 200px;
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* appears on top of all elements */
}

.links {
  display: flex;
  gap: 8px;
  margin-top: 15px;
  margin-right: 40px;
}

#home-button, #home-button-blue {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 40px;
}

#header-button {
  background-color: transparent;
  border: none;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .8px;
  line-height: 2px;
  text-align: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.75rem;
  display: inline-block;
  cursor: pointer;
}

#login-button {
  background-color: rgb(60, 165, 255);
  border: none;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .8px;
  line-height: 2px;
  text-align: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.75rem;
  display: inline-block;
  cursor: pointer;
}

#login-button:hover {
  filter: brightness(1.05);
}

footer {
  position: relative;
  bottom: 0;
  height: 180px;
  width: 100%;
  background-color: rgb(40, 40, 40);
  color: #ecf0f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-button {
  background-color: transparent;
  border: none;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: .8px;
  line-height: 2px;
  text-align: center;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 0.75rem;
  display: inline-block;
  cursor: pointer;
  margin-top: -30px; /* other alternative to moving buttons upwards? */
}

.footer-buttons {
  display: flex;
  gap: 8px;
  margin-left: 185px;
  margin-top: 0;
}

.footer-content {
  text-align: left;
  font-family: var(--myfont);
  font-weight: 200;
  margin-top: 20px;
  margin-left: 200px;
}
