.profile-card {
    position: relative;
    width: 600px;
    height: 260px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
    text-align: left;
    display: inline-block;
}

.profile-subtitle {
    color: black;
    font-family: var(--myfont);
    font-size: 22px;
    font-weight: 100;
}


.profile-text {
    color: black;
    font-family: var(--myfont);
    font-size: 14px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.save-button {
    background-color: #009578;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 2px 2px;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    height: 20px;
    width: 50px;
}

.save-button:hover {
    background: #00866c;
}

#see-password-button {
    background-color: #f5f5f5;
    color: black;
    border: 0;
    border-radius: 2px;
    padding: 2px 2px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    height: 20px;
    width: 85px;
}

#see-password-button:hover {
    background: #ededed;
}

#edit-button {
    background: #009578;
    color: white;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

#edit-button:hover {
    background: #00866c;
}
