.panels-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    font-family: var(--myfont);
}

.profile-card {
    position: relative;
    width: 100%;
    height: 260px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
    text-align: left;
    display: inline-block;
}

.profile-subtitle {
    color: black;
    font-size: 22px;
    font-weight: 100;
}

.profile-text {
    color: black;
    font-family: var(--myfont);
    font-size: 14px;
}

.input-group {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.save-button {
    background-color: #009578;
    color: white;
    border: 0;
    border-radius: 2px;
    padding: 2px 2px;
    margin-left: 10px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    height: 20px;
    width: 50px;
}

.save-button:hover {
    background: #00866c;
}

#see-password-button {
    background-color: #f5f5f5;
    color: black;
    border: 0;
    border-radius: 2px;
    padding: 2px 2px;
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    height: 20px;
    width: 85px;
}

#see-password-button:hover {
    background: #ededed;
}

#edit-button {
    background: #009578;
    color: white;
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 10px;
    width: 60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

#edit-button:hover {
    background: #00866c;
}

.events-card {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    padding: 20px;
    text-align: left;
    display: inline-block;
}

.events-heading {
    color: black;
    font-size: 22px;
    font-weight: 100;
    margin-bottom: 15px;
}

.events-text {
    color: rgb(66,66,66);
    font-family: var(--myfont);
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
    margin-left: -5px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 6px;
    position: relative;
}

.events-text:hover {
    background: rgb(38,38,38, 0.05);
}

.events-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-button {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s;
    overflow: hidden;
    position: absolute;
    top: 22px;
    right: 0;
}
.delete-button svg {
    width: 44%;
}
.delete-button:hover {
    background-color: rgb(237, 56, 56);
    overflow: visible;
}
.bin path {
    transition: all 0.2s;
}
.delete-button:hover .bin path {
    fill: #fff;
}
.delete-button:active {
    transform: scale(0.98);
}

