.event-card {
    text-align: left;
    position: relative;
    top: 50px;
    left: 80px;
    width: 90%;
}

.card {
    width: 600px;
    height: 300px;
    margin: 0 auto;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
    padding: 20px;
}

.profile-subtitle {
    color: black;
    font-family: var(--myfont);
    font-size: 22px;
    text-align: left;
}

.profile-text {
    color: black;
    font-family: var(--myfont);
    font-size: 18px;
    text-align: left;
}

#editButton {
    width: 60px;
    height: 60px;
    background: #009578;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    transition: background 0.2s;
}

#editButton:hover {
    background: #00866c;
}

#credentialsField {
    border: 2px solid white;
    background-color: rgb(230,230,230);
    border-radius: 10px;
    padding: 5px 5px;
    color: black;
    outline: none;
    caret-color: var(--softblue);
    font-family: var(--myfont);
    font-size: 16px;
    width: 40%;
}