:root {
  --softblue: rgb(20, 125, 250);
  --myfont: --font-family,RoobertVF,Helvetica Neue,Helvetica,Arial,sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background: var(--softblue);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  font-family: var(--myfont);
  font-size: 70px;
}

h2 {
  color: white;
  font-family: var(--myfont);
  font-size: 40px;
}

p {
  color: white;
  font-family: var(--myfont);
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  gap: 8px;
  margin-right: 15px;
}

#home-button {
  background-color: var(--softblue);
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;
}

#header-button {
  background-color: #1899D6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: .8px;
  line-height: 20px;
  margin-top: 20px;
  outline: none;
  overflow: visible;
  padding: 13px 19px;
  text-align: center;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

#header-button:after {
  background-clip: padding-box;
  background-color: #1CB0F6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

#header-button:main, button:focus {
  user-select: auto;
}

#header-button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.left-container {
 text-align: left;
 position: relative;
 top: 50px;
 left: 80px;
 width: 90%;
}

footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background-color: #1CB0F6;
  color: #ecf0f1;
  padding: 10px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  text-align: left;
}
