.event-details {
    font-family: var(--myfont);
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}

#error-message {
    color: red;
    font-family: var(--myfont);
    font-size: 18px;
    margin-top: 10px;
}

/* COPY PASTED FROM index.css */
.search-bar-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}

#search-bar {
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 15px 40px;
    color: black;
    font-weight: 450;
    outline: none;
    caret-color: var(--softblue);
    transition-duration: .3s;
    font-family: var(--myfont);
    font-size: 15px;
    width: 100%;
}

#search-bar::placeholder {
    color: black;
    position: relative;
    left: 0;
}

#search-bar:focus {
    background-color: lightgray;
    transition-duration: .4s;
}

#search-bar:valid {
    background-color: #ddd;
    transition-duration: .4s;
}

.search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
    fill: black;
}

.response-buttons-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

#track-button, #save-button{
    background-color: rgb(195,225,255);
    color: black;
    border: 0;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
    width: 80px;
}

#track-button:hover, #save-button:hover{
    background-color: rgb(140,200,255);
}