{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About</h2>
    <p>
        SeatGeek is a third-party ticket platform that enables users to buy and sell previously purchased tickets
        for live sports, concerts, and theater events. Unfortunately, SeatGeek currently lacks the option for users
        to set up alerts for price fluctuations of tickets for a given event. That's where SeatGeek Alerts comes in –
        a user-friendly and simple to use application that allows users to track their favourite events.
    <p>
{% endblock %}