<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="https://cdn.icon-icons.com/icons2/2699/PNG/512/seatgeek_logo_icon_169770.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>{% block title %}SeatGeek Alerts{% endblock %}</title>
    <!-- Header Buttons -->
    <form action="/" method="post">
        <button id="button1" style="position:relative; right:1320px;">Home</button>
    </form>
    {% if session.get("logged_in") %}
        <form action="/logout" method="post">
            <button id="button1" style="position:relative; right:94px; top:-62px;">Logout</button>
        </form>
        <form action="/profile" method="post">
            <button id="button1" style="position:relative; top:-121px;">Profile</button>
        </form>
    {% else %}
        <form action="/login" method="post">
            <button id="button1" style="position:relative; right:94px; top:-62px;">Login</button>
        </form>
        <form action="/signup" method="post">
            <button id="button1" style="position:relative; top:-121px;">Signup</button>
        </form>
    {% endif %}
    <form action="/about" method="post">
        <button id="button1" style="position:relative; right:191px; top:-180px;">About</button>
    </form>
</head>
{% block content %}{% endblock %}
</html>
