<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" type="image/x-icon" href="../static/media/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{% block title %}SeatGeek Alerts{% endblock %}</title>
    <!-- Header  -->
    <div class="header">
        <!-- Home Button  -->
        <form action="/" method="post">
            <button id="header-button">Home</button>
        </form>
        <!-- Links  -->
        <div class="links">
            {% if session.get("logged_in") %}
                <form action="/logout" method="get">
                    <button id="header-button">Logout</button>
                </form>
                <form action="/profile" method="post">
                    <button id="header-button">Profile</button>
                </form>
            {% else %}
                <form action="/login" method="post">
                    <button id="header-button">Login</button>
                </form>
                <form action="/signup" method="post">
                    <button id="header-button">Signup</button>
                </form>
            {% endif %}
            <form action="/about" method="post">
                <button id="header-button">About</button>
            </form>
        </div>
    </div>

</head>
{% block content %}{% endblock %}
</html>
