{% extends "base.html" %}

{% block title %}
    Events
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/events.css">
    <div class="full-container">
        <div class="left-container">
            <h2><span id="eventName">{{ event_name.title() }} Tickets</span></h2>
            <p>Showing results for <em>{{ event_name.title() }}</em></p>
            {% if events %}
                {% for event in events %}
                    <div class="event">
                        <span>Event ID: {{ event.id }}</span><br>
                        <span>Date & Time: {{ event.datetime }}</span><br>
                        <span>Venue: {{ event.venue }}</span><br><br>
                    </div>
                {% endfor %}
                <p><a class="help-link" href="/help">Don't see your event?</a></p>
            {% else %}
                <p>No events found</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
