{% extends "base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/events.css">
    <h2><span id="eventName">{{ event_name.title() }} Tickets</span></h2>
    <p style="position: relative; text-align: left; left: 80px;">Showing results for <em><span id="eventName">{{ event_name.title() }}</span></em></p>
    <div class="events">
        {% if top_events %}
            <div class="panel-group">
                {% for event in top_events %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <strong>{{ event.name }}</strong>
                            </h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No events found</p>
        {% endif %}
    </div>
{% endblock %}


