{% extends "base.html" %}

{% block title %}Help{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/help.css">
    <div class="left-container">
        <h2>Help!</h2>
        <p>
            You can find the Event ID of your event by opening the event on seatgeek.com in your browser. In the URL,
            the Event ID will be located at the very end, as show below.
        <p>
        <img class="image" src="../static/media/eventid.png" alt="Event ID">
    </div>
{% endblock %}