{% extends "base.html" %}

{% block title %}SeatGeek Alerts{% endblock %}

{% block content %}
    <!-- Heading and description -->
    <style>.content-container {margin-top: -70px;}</style>
    <div class="content-container">
        <h1>SeatGeek Alerts</h1>
        <p>Receive email alerts for price changes of your favorite tickets on SeatGeek.com!</p>
        <!-- Search bar -->
        <div class="inputContainer">
            <form action="/search_for_event" method="post">
                <input required="required" id="inputField" name="inputField" placeholder="What do you want to see live?" type="text">
            </form>
        </div>
    </div>
{% endblock %}