<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="../media/icon.png"> <!-- favicon not working -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js" defer></script>
    <title>SeatGeek Alerts</title>
</head>
<body>
    <h1>SeatGeek Alerts</h1>
    <p>Receive email alerts for price changes of your favorite tickets on SeatGeek.com!</p>
    <!-- search bar -->
    <div class="inputContainer">
        <form action="/search_for_event" method="post">
            <input required="required" id="inputField" name="inputField" placeholder="What do you want to see live?" type="text">
        </form>
    </div>
</body>
</html>
