{% extends "base.html" %}

{% block title %}LogIn{% endblock %}

{% block content %}
    <style>.form-box {margin-top: 10px;}</style>
    <div class="form-box">
        <form class="form" action="/sign_in" method="post">
            <span class="title">Sign in</span>
            <span class="subtitle">Sign into your account with your email and password</span>
            <div class="form-container">
                <input type="email" class="input" name="email" placeholder="Email">
                <input type="password" class="input" name="password" placeholder="Password">
            </div>
            <button id="button2">Sign in</button>
        </form>
    </div>
{% endblock %}
