{% extends "base.html" %}

{% block title %}SignUp{% endblock %}

{% block content %}
    <style>.form-box {margin-top: 10px;}</style>
    <div class="form-box">
        <form class="form" action="/create_account" method="post">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email</span>
            <div class="form-container">
                <input type="text" class="input" name="name" placeholder="Name">
                <input type="email" class="input" name="email" placeholder="Email">
                <input type="password" class="input" name="password" placeholder="Password">
            </div>
            <button id="button2">Sign up</button>
        </form>
        <div class="form-section">
            <p2>Have an account? <a href="/log_in">Log in</a></p2> <!-- redirect not working -->
        </div>
    </div>
{% endblock %}



