{% extends "base.html" %}

{% block title %}Tracking{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/css/tracking.css">
    <div class="full-container">
        <div class="left-container">
            <h2>Tracking</h2>
            <p>What is the ID of the event you want to track?</p>
            <form id="code-form" action="/tracking" method="post" onsubmit="return validateInput(event)">
                <div class="code-input-container">
                    <input type="text" maxlength="1" class="code-input" id="digit1" name="digit1"/>
                    <input type="text" maxlength="1" class="code-input" id="digit2" name="digit2"/>
                    <input type="text" maxlength="1" class="code-input" id="digit3" name="digit3"/>
                    <input type="text" maxlength="1" class="code-input" id="digit4" name="digit4"/>
                    <input type="text" maxlength="1" class="code-input" id="digit5" name="digit5"/>
                    <input type="text" maxlength="1" class="code-input" id="digit6" name="digit6"/>
                    <input type="text" maxlength="1" class="code-input" id="digit7" name="digit7"/>
                </div>
                <input type="hidden" name="action_type" value="search">
            </form>
            <div id="error-message" style="display: none;">Event ID must be a valid 7-digit integer.</div>
            {% if event %}
                <div class="event-card">
                    <span class="title">Event {{ event.id }}</span>
                    <div class="text">
                        <span>Performer: {{ event.performer }}</span><br>
                        <span>Date: {{ event.datetime }}</span><br>
                        <span>Venue: {{ event.venue }}</span><br>
                    </div>
                </div>
                <form action="/tracking" method="post">
                    <input type="hidden" name="eventID" value="{{ event.id }}">
                    <input type="hidden" name="action_type" value="track">
                    <button id="track-button">Track</button>
                </form>
            {% else %}
                {#<p>No events found</p>#}
            {% endif %}
        </div>
    </div>
    <script src="../static/js/tracking.js" defer></script>
{% endblock %}

